# Catatan untuk Pandas

bisa digunakan untuk manipulasi data.
keuntungan :
-cepat dan efisien
-bisa untuk slicing
-support grouping
-bisa menangani misiing value
-dll

data yang diolah berupa dataframe (pasti berdimensi 2)

dataframe terdiri dari 'series'
'series' memiliki jenis data yang sama
dan bersifat immutable (bisa diubah)

pandas bersifat opensource
contoh buku yg bagus pandas for analysis

transpost = mengubah baris jadi kolom dan kesebaliknya

head = mengambil 5 data awal (default)
tail = mengambil 5 data akhir (default)

# Pandas - Data Analysis Library

In [3]:
import pandas as pd

In [4]:
pd.__version__

u'0.24.2'

## series

In [5]:
a= pd.Series(data=[1,2,3,4])
a

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
type(a)

pandas.core.series.Series

In [7]:
b =pd.Series([1,2,3,4], index=['a','b','c','d'])
b

a    1
b    2
c    3
d    4
dtype: int64

In [10]:
#membuat series dari dictionary = data berdasarkan key value per
data_dict ={
    'k1':1,
    'k2' : 2,
    'k3': 3,
    'k4': 4
}

pd.Series(data_dict)

k1    1
k2    2
k3    3
k4    4
dtype: int64

In [11]:
#DataFrame gabungan dari beberapa series

In [13]:
b=pd.DataFrame(data={"Nama":["Zulli","Nira"],"Umur":["22","24"]})
b

    Nama Umur
0  Zulli   22
1   Nira   24

In [14]:
#ketinggalan

In [ ]:
df2

# Exercise 1

1. Buat data frame

In [15]:
b=pd.DataFrame(data={"Age":["24","13","53"],"Location":["New York","Paris","Berlin"], "Name":["John","Anna","Peter"]})
b

  Age  Location   Name
0  24  New York   John
1  13     Paris   Anna
2  53    Berlin  Peter

In [22]:
2. Mengubah nama kolom

SyntaxError: invalid syntax (<ipython-input-22-3e149306d26a>, line 1)

In [24]:
b.columns.values[1]='City'

In [ ]:
b